<html>
   <head>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts.js') }}" ></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 

   </head>
   
   <body>
      <input type = "button" onclick = "logout()" value = "Log Out" />

      {% if data['new_user'] == False %}
         <h1>Welcome back '{{ data['username'] }}'!</h1>
         <h2>Here are the books you've rated so far:</h2>
         <table border =1>
            <tr>
               <th>Book Title</th>
               <th>Rating</th>
            </tr>
            {% for book in data['user_books'] %}
               <tr>
                  <th>{{ book[0] }}</th>
                  <th>{{ book[1] }}</th>
               </tr>
            {% endfor %}
         </table>
         
         <h2>Here are the books we recommend:</h2>
         <table border =1>
            <tr>
               <th>Book Title</th>
            </tr>
            {% for book in data['recs'] %}
               <tr>
                  <th>{{ book }}</th>
               </tr>
            {% endfor %}
         </table>
      {% else %}
         <h1>Welcome '{{ data['username'] }}'!</h1>
         <h2>It appears you haven't rated any books yet. Rate at least 3 books below to get started!</h2>
      
      {% endif %}
      <h2>Rate a book</h2>
      <form id="ratingForm" action="/rate" method="post">
         <label>Book to rate:</label>
         <p>
            <select name="book_title">
               {% for book in data['all_books'] %}
                  <option value="{{ book[0] }}">{{ book[1] }}</option>
               {% endfor %}
            </select>
         </p>
         <label>Rating:</label>
         <p><input id=ratingInput type="number" name="rating" /></p>
         <p><input id=submitRatingBtn type = "submit" value = "submit"/></p>
      </form>
   </body>
</html>