<html>
    <head>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'scripts.js') }}" ></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    </head>
    
    <body>
        <h2>Log in</h2>
        {% if code == 1 %}
            <script>invalidLogin()</script>
        {% elif code == 2 %}
            <script>newUser()</script>
        {% endif %}
        <form action = "http://localhost:5000/attemptLogin" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "username" /></p>
            <p><input type = "password" name = "password" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>

        <h2>Or register a new account</h2>
        <form action = "/register" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "username" /></p>
            <p><input type = "password" name = "password" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
</body>
</html>